@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font0: verdana, geneva, tahoma, sans-serif;
    --font1:'Passion One', cursive;
    --font2:'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    font-family: var(--font0);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    font-variant: small-caps;
    padding-top: 50px ;
    font-family: var(--font1);
    font-size: 10vw; /* vw = viewport width - porcentagem da largura da tela*/
}
header > p{
        padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: gray;
    color: white;
    background-image: url();
}
.imagem > p{
    width: 400px;
    background-color: rgb(63, 63, 63);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/*
header{
    background-color: black;
    color: white;
    text-align: center;
    min-height: 269px;
}
h1{
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 8.5em;
    text-transform:unset;

    padding-top: 50px ;
}
h1 > a{
    text-decoration: none;
    color: white;
}
p{
    text-align: center;
    font-family: verdana, sans-serif;
    padding-bottom: 50px;
}
p > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: verdana, sans-serif;
    font-weight: bold;
}
p > a:hover{
    text-decoration: underline;
}
#strofe_1{
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;;
    font-size: 3em;
    padding: 45px;
}
#strofe_2{
    background-image: url(imagens/background001.jpg);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
}
footer > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}




.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

*/